/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; /*overflow:hidden;*/}
#colorbox{ overflow: inherit!important; }

#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:hidden!important; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;z-index: 10000;}
    #cboxTopLeft{display: none;width:0; height:0; background:url(../img/controls.png) no-repeat 0 0;}
    #cboxTopCenter{display: none;height:0; background:url(../img/border.png) repeat-x top left;}
    #cboxTopRight{display: none;width:0; height:0; background:url(../img/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{display: none;width:0; height:0; background:url(../img/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{display: none;height:0; background:url(../img/border.png) repeat-x bottom left;}
    #cboxBottomRight{display: none;width:0; height:0; background:url(../img/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{display: none;width:0; background:url(../img/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{display: none;width:0; background:url(../img/controls.png) repeat-y -211px 0;}
    #cboxContent{/*background:&egrave;; */overflow:visible;}
        .cboxIframe{/*background:#fff;*/}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;display:none!important;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(../img/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        #cboxClose {
        	border: 0;
        	padding:0;
        	margin:0;
        	overflow:visible;
        	position:absolute;
        	z-index: 100000;
        	top: 0;
        	right: 0;
        	background:url(../img/bt_popin_close.png) no-repeat right 0;
        	width:82px;
        	height:23px;
        	text-indent:-9999px;
        }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

		#cboxPrevious, #cboxNext{z-index:100001;width:40px;height:40px;background-position:0 0;background-repeat:no-repeat;top:50%;margin-top:-20px;}
        #cboxPrevious{left:-83px; /*background-position: -51px -25px;*/background-image:url(../img/fleche_prev_popin.png);}
        #cboxPrevious:hover{/*background-position:-51px 0px;*/}
        #cboxNext{right:-83px; /*background-position:-75px -25px;*/background-image:url(../img/fleche_next_popin.png);}
        #cboxNext:hover{/*background-position:-75px 0px;*/}
/*		  #cboxClose{background-position:-50px 0px; right:0;} */
/*      #cboxClose:hover{background-position:-100px 0px;} */

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;display:none ;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
        
        		
/* COLORBOX CUSTOM */






#colorbox .popheader{
	position: relative;
	display: block;
	width: 100%;
/*	height: 50px;
	min-height: 50px;*/
	margin: 33px 0 0 0;
}

#colorbox .popheader h2{
	font-family: OpenSans;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
	margin: 0;
	padding: 10px 0 7px 27px;
	color: white;
}
#colorbox .import2cal span.rt{
	display: block;
	float: left;
	text-align: left;
}
#colorbox .import2cal{
	display: block;
	float: right;
	text-align: left;
	padding: 0 0 0 0;
	margin: 0 14px 0 10px;
}
#colorbox .import2cal a{
	color: white;
	font-family: OpenSans;
	text-transform: lowercase;
	font-size: 14px;
	padding: 0 0 3px 36px;
	text-decoration: none;
	background: url(../img/picto_agenda.png) left top no-repeat;
	text-align: left;
}
#colorbox .import2cal a:hover{
	text-decoration: underline;
}
#colorbox .import2cal a span.txtspan{
	display: block;
}





#colorbox .popgreen .popheader{
	/*background: url(../img/bg_poptop_green.png) 0 top no-repeat;*/
	background-color: #00c3a8;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#colorbox .popblue .popheader{
	/*background: url(../img/bg_poptop_blue.png) 0 top no-repeat;*/
	background-color: #1091e7;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#colorbox .popred .popheader{
	/*background: url(../img/bg_poptop_red.png) 0 top no-repeat;*/
	background-color: #ff6a76;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#colorbox .popgreen .poplien1 a, #colorbox .popgreen .poplien2 a{
	background: #00c3a8;
}
#colorbox .popblue .poplien1 a, #colorbox .popblue .poplien2 a{
	background: #1091e7;
}
#colorbox .popred .poplien1 a, #colorbox .popred .poplien2 a{
	background: #ff6a76;
}




#colorbox .popmainbg{
	position: relative;
	background-color: white;
}
#colorbox .popxbox{
	width: 100%;
}
#colorbox .popxbox img{
   max-width: 100%;
   width: 100%;
   height: auto;
}
#colorbox .poptartx{
	padding: 30px 48px 30px 31px;
}
#colorbox h3{
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Georgia;
	font-size: 22px;
	color: #3c4046;
	text-transform: uppercase;
}
#colorbox .popsocial{
	float: right;
	width: 100px;
}
#colorbox .popsocial ul{
	margin: 0;
	padding: 0;
}
#colorbox .popsocial li{
	list-style-type: none;
	float: left;
	margin: 0 0 0 5px;
}
#colorbox .popsocial li:first-child{
	margin: 0;
}
#colorbox .popsocial li a{
	display: block;
	width: 29px;
	height: 29px;
	outline: 0;
}
#colorbox .popsocial li a span{
	display: none;
}
#colorbox .popsocial li.but-tw a{
	background: url(../img/picto_twitter.png) 0 top no-repeat;
}
#colorbox .popsocial li.but-fb a{
	background: url(../img/picto_facebook.png) 0 top no-repeat;
}
#colorbox .popsocial li.but-tum a{
	background: url(../img/picto_tumblr.png) 0 top no-repeat;
}
#colorbox .popsocial li.but-tw a:hover{
	background: url(../img/picto_twitter.png) 0 bottom no-repeat;
}
#colorbox .popsocial li.but-fb a:hover{
	background: url(../img/picto_facebook.png) 0 bottom no-repeat;
}
#colorbox .popsocial li.but-tum a:hover{
	background: url(../img/picto_tumblr.png) 0 bottom no-repeat;
}
#colorbox h4{
	clear: both;
	margin: 0;
	padding: 8px 0 2px 0;
	font-family: OpenSans;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	color: #757575;
}
#colorbox h4 span{
	font-size: 16px;
}

#colorbox .poptxt{
	margin: 9px 0 0 0;
	padding: 0;
	font-family: OpenSans;
	font-size: 14px;
	color: #3c4046;
	line-height: 26px;
}
#colorbox .popsepar{
	border-top: 1px solid #e6e6e7;
	height: 1px;
	margin: 25px 0 34px 0;
}
#colorbox .poplien1{
	margin:0 0 35px 0;
}
#colorbox .poplien1 a, #colorbox .poplien2 a{
	font-family: OpenSans;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding: 10px 35px 10px 35px;
	line-height: 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#colorbox .poplien1 a:hover, #colorbox .poplien2 a:hover{
	text-decoration: underline;
}


/* ==========================================================================
   MEDIA QUERIES - PARTIE RESPONSIVE
   ========================================================================== */


@media handheld, only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
   #cboxPrevious, #cboxNext{
		/*top:150px;*/
		
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size:contain; 
	}
	
    #cboxPrevious{
    	left:-8%;
    	
    }
 
   #cboxNext{
    	right:-8%; 
    }
}

/***** [ Mobile - low res ] *****/
@media handheld, only screen and (max-width: 720px), only screen and (max-device-width: 720px) {

	#colorbox .popgreen .popheader{
		background: #00c3a8;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	#colorbox .popblue .popheader{
		background: #1091e7;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	#colorbox .popred .popheader{
		background: #ff6a76;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	
	#colorbox .import2cal{
		float: right;
		text-align: left;
		padding: 0 0 0 0;
		margin: 0 14px 0 10px;
	}
	#colorbox .import2cal a{
		display: block;
		width: 24px;
		height: 22px;
		padding: 0 0 0 0;
		background: url(../img/picto_agenda.png) 0 0 no-repeat;
	}
	#colorbox .import2cal a span.txtspan{
		display: none;
	}
	
	
	
	
	#cboxPrevious, #cboxNext{
		top:130px;
		margin-top: inherit;

	}

	#cboxPrevious{
    	left:5px;
    	
    }
 
   #cboxNext{
    	right:5px; 
    }
	
	
	#colorbox .poplien1 a, #colorbox .poplien2 a{
		display: block;
	}
	
	#colorbox h3{
		float: none;
		display: block;
		margin: 0 0 14px 0;
		padding: 0;
	}
	#colorbox .popsocial{
		float: none;
		width: 100px;
		/*margin: 0 auto;*/
		padding: 0;
	}
	#colorbox h4{
		margin: 0;
		padding: 10px 0 0 0;
	}	

	#colorbox .popheader h2{ font-size: 17px; }

}


@media handheld, only screen and (max-width: 480px) {
	   
		
	   #cboxClose { 
	   		width: 60px; 
	   		height: 35px; 
	   		-webkit-background-size: contain;
			-moz-background-size: contain;
			background-size:contain; 

	   		top:0;
	   }

	   #cboxPrevious, #cboxNext{
			width:30px;
			height:30px;
			
			top:108px;
			
		}

		#colorbox .poptartx {
		    padding: 30px 5%;
		}

	

		#colorbox .import2cal a{ padding: 0; }

		#colorbox .popheader h2 {
			padding: 10px 35px 7px 10px;
			font-size: 14px;
		}
}


@media handheld, only screen and (max-width: 360px) {


		#colorbox .poplien1 a, #colorbox .poplien2 a{
        		/*word-break: break-word;*/
        }


        #colorbox .popheader h2{ font-size: 14px;  }
        #colorbox .poptxt{ font-size: 12px;}
        #colorbox h3{font-size: 20px; }

        #colorbox .poplien1 a, #colorbox .poplien2 a{ padding: 10px; word-wrap: break-word;}

        .refbox p a.cboxElement{  word-wrap: break-word; }


    

}
