/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	position: absolute;

	width: 13px;
	height: 20px;

	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	
	/* HIDING BUTTONs TEXT */
	font-size: 0;
	line-height: 0;
}


.owl-theme .owl-controls .owl-buttons .owl-prev{
	z-index:1000;
	background: url(../img/slide_arrow_left.png) 0 top no-repeat;
/*	margin: -145px 0 0 -500px;*/
	left: 18px;
	top: 24px;
	/*margin-top: -170px;*/
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
	background: url(../img/slide_arrow_left.png) 0 bottom no-repeat;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
	z-index:1000;
	background: url(../img/slide_arrow_right.png) 0 top no-repeat;
	/*margin: -100px 0 0 350px;*/
	right: 18px;
	top: 24px;
	/*margin-top: -170px;*/
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	background: url(../img/slide_arrow_right.png) 0 bottom no-repeat;
}


.owl-buttons .disabled{ display: none!important;}




/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../img/loading.gif) no-repeat center center
}




/* ==========================================================================
   Media Queries for Responsive Design. (cf DOM)
   ========================================================================== */



@media (max-width: 768px) {
	.owl-theme .owl-controls .owl-buttons .owl-prev,
	.owl-theme .owl-controls .owl-buttons .owl-next{
		/*top: 20px;*/
	}

}